/*Dashboard
===============================
*/

:root{
    --top-bar-size: 60px;
    --dash-side-menu-width: 15vw;
    --dash-main-width: calc( 100vw -  var(--dash-side-menu-width));
    
    --editor-inspector-width: 15vw;

    --editor-panelMargin: var(--spacing-sm);
}

/*Main Container*/
.dash_mainContainer{
    overflow: hidden;
    background-color: hotpink;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

/*topBar*/
.dash_topBar{
height: var(--top-bar-size);
background-color: blue;
}

/*body*/
.dash_body{
    background-color: aquamarine;
    height: calc(100vh - var(--top-bar-size) );
    display: flex;
}

/*SideMenu*/
.dash_sideMenu, .editor_inspector
{
    /*background-color: RED;*/
  

    width: var(--dash-side-menu-width);
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    overflow-y: hidden;
}

.dash_sideMenu_Content
{
    background-color: var( --color-backgroundPanel);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-sm);
    border-radius: var( --border-radius-md);
    color: var(--color-textPrimary);
}

.dash_sideMenu_Content button
{
    background-color: var(--color-white);
    color: var(--color-textPrimary);
}

.fillContainer
{
    width: 100%!important;
}

.dash_sideMenu_Content button img{
    background-color: var(--color-primary-dark);
    padding: var(--spacing-sm);
    border-radius: var( --border-radius-sm);
}

.secondSideMenu{
    position: absolute;
    background-color: blue;
}

/*PageContainer*/
.dash_mainPageContainer{
    background-color: rgb(85, 85, 37);
    width: var(--dash-main-width)
}


/*Page*/
.dash_page{
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.dash_pageHeader{
    background-color: blueviolet;
    padding: var(--spacing-md);
    text-align: center;
}

.dash_pageBody{
    background-color: darksalmon;
    padding: var(--spacing-md);
    flex-grow: 1;
    overflow-y:auto;
}

.dash_pageFooter{
    background-color:darkgoldenrod;
    padding: var(--spacing-md);
}

/*Dash list*/

.dash_listContainer{
    background-color:peru;
}

.dash_listContainer .listItem_container{
    margin: var(--spacing-sm);
    margin-left:0px;
    margin-right:0px;
}


/*3D Editor*/
.editorContainer_dash_topBar{
    position:absolute;
    top: 0px;
    width: 100%;
}

.editorContainer_dash_sideMenu{
    top: calc( var(--top-bar-size) + var(--editor-panelMargin));
    position:absolute;
    left: var(--editor-panelMargin);
    width: var(--dash-side-menu-width);
}


.editorContainer_inspector{
    top: calc( var(--top-bar-size) + var(--editor-panelMargin));
    position:absolute;
    right: var(--editor-panelMargin);
}

.editor_inspector{
    /*width: var(--editor-inspector-width);*/
    /*background-color: purple;*/

    padding: var(--spacing-sm);
    overflow-y:hidden;
    background-color: var(--color-backgroundPanel);
    color: var(--color-textPrimary);
    border-radius: var( --border-radius-lg);
    box-shadow: var(--shadow-md);
}

.editor_inspector button
{
/*    width: 100%!important;*/
}

.editor_inspector input[type="number"]
{
   border-color:transparent;
   height: auto;
}


fieldset{
    border: none;
    background-color: var(--color-gray-light);
    border-radius: var( --border-radius-md);
    padding: var(--spacing-sm);   
}
  

legend{
padding-left: var(--spacing-sm);
padding-right: var(--spacing-sm);
margin-top: 0.3rem;
}


.editorContainer_centerToolbox{
    position: absolute;
    top: var(--top-bar-size);
    left: 50%;
    transform: translate(-50%,0%);
}